<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a current employee</title>
    <link th:insert="resources/linkCSS.html" />
</head>
<body>
	<header th:include="header/menu.html"></header>
	<article>
    	<div class="container-fluid">
    		<div class="row justify-content-md-center mt-1">
    			<div class="col-md-12">
    				<div class="alert alert-danger h3" role="alert">
					  Do you really want to delete this [ID:<span th:text="${nhanvien.id}"></span>, FULLNAME:<span th:text="${nhanvien.fullname}"></span>] employee ???
					</div>
    			</div>
    		</div>
    		<div class="row justify-content-md-center mt-1">
    			<div class="col-md-12">
    				<form action="#" th:action="@{/delete-nhanvien}" method="post">
				    	<input type="text" th:hidden="${nhanvien.id}" th:value="${nhanvien.id}" th:name="id" th:id="id" />
				    	<button type="submit" class="btn btn-outline-danger">Delete employee</button>
				    	<a th:href="@{/}" class="text-success" >Click here to comeback home!</a>
				    </form>
    			</div>
    		</div>
    	</div>
    </article>
    <script type="text/javascript" th:replace="resources/linkJS.html"></script>
</body>
</html>